@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello</h1>

Welcome to my new app.
<p>Completed by Yaroslav Zubakha</p>

<Test.Shared.InfoMessage Message="A new todo list added" />

<img src="https://github.com/SAWARATSUKI/ServiceLogos/blob/main/Vim/VIM.png?raw=true" alt="Vim cute pic" class="image-with-shadow" />

<style>
    .image-with-shadow {
        -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
    }
</style>
